:root {
  --primary-color: #967f71;
  --secondary-color: #f4f4f4;
  --tertiary-color: #f4f4f4;
  --quaternary-color: #f4f4f4;
  --quinary-color: #f4f4f4;
  --senary-color: #f4f4f4;
  --septenary-color: #f4f4f4;
  --octonary-color: #f4f4f4;
  --nonary-color: #f4f4f4;
  --denary-color: #f4f4f4;
}

.container h2 {
  margin-top: 3rem !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 3rem;
}

.navbar-custom {
  background-color: whitesmoke;
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-color);
}

/* .App-link {
  color: black;
  text-decoration: none;
}

.App-link:hover {
  color: rgb(109, 142, 10);
} */

.App-header-link {
  color: var(--primary-color);
  text-decoration: none;
}

.App-header-link:hover {
  color: black;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
