.container h2 {
  margin-top: 3rem !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 3rem;
}

.navbar-custom {
  background-color: whitesmoke;
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(109, 142, 10);
}

.App-link {
  color: black;
  text-decoration: none;
}

.App-link:hover {
  color: rgb(109, 142, 10);
}

.App-header-link {
  color: rgb(109, 142, 10);
  text-decoration: none;
}

.App-header-link:hover {
  color: black;
}

.nav-link:hover {
  color: green !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
